<div class="row">
  <div class="col-12">
    <h1 class="text-center">Products</h1>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <%= render 'shared/product_search_form' %>
  </div>
  <div class="col-9">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Country</th>
          <th scope="col">Tags</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "shared/product", collection: @products %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-12">
        <%= render partial: "shared/pagination", locals: { list: @products } %>
      </div>
    </div>
  </div>
</div>
